<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Sensus/Pollit/Reckoning</title>

	<link rel="stylesheet" href="/assets/css/style.css" type="text/css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<meta name="google-signin-client_id" content="402017814268-p0c01dbp6uo04770io9fjmfv1bo6e6hc.apps.googleusercontent.com">	

</head>

<body>
	
	{{{ body }}}
<script src="/assets/js/carousel.js"></script>
<script src="https://apis.google.com/js/platform.js" async defer></script>

</body>



</html>