<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>PollIt</title>

	<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!--Import materialize.css-->
<link type="text/css" rel="stylesheet" href="/assets/css/materialize.min.css"  media="screen,projection"/>

<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<link rel="stylesheet" href="/assets/css/style.css" type="text/css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="/assets/js/carousel.js"></script>
	<script src="https://apis.google.com/js/platform.js" async defer></script>
	<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/numeric/1.2.6/numeric.min.js"></script>
	<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
	<link rel="stylesheet" href="/assets/css/particles.css" type="text/css">
	<link rel="stylesheet" href="/assets/css/signup.css" type="text/css">


</head>

<body>
	
	{{{ body }}}

<script src="https://apis.google.com/js/platform.js" async defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/assets/js/carousel.js"></script>
<script src="/assets/js/particles.js"></script>
<script src="/assets/js/logic.js"></script>
<script src="/assets/js/chart.js"></script>
<script src="/assets/js/vote.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>


</body>



</html>
