<!-- particles.js container -->
<div id="particles-js"></div>
<!-- stats - count particles -->
<div class="count-particles">
	<span class="js-count-particles">--</span> particles
</div>
<!-- particles.js lib - https://github.com/VincentGarreau/particles.js -->
<!-- stats.js lib -->
<script src="http://threejs.org/examples/js/libs/stats.min.js"></script>

	<div class="header">
		<div class="block-alpha">
			<a href="/">
				<div class="logo">PollIt</div>
			</a>
		</div>
		<div class="block-beta">
			<button type="submit" class="btn create-poll">Create Poll</button>
		</div>
		<div class="block-omega">
			<div class="log-form">
				<form >
				{{!-- action="/api/auth/login" method="post" --}}
					<input type="text" id="username" name="userName" title="username" placeholder="username" />
					<input type="password" id="password" name="password" title="username" placeholder="password" />
					<button type="button" id="loginBtn" class="btn login">Login</button>
					<a class="forgot" href="#">Forgot Username?</a>
				</form>
				<a href="/signup">
					<button id="signup-button" class="signup" style="width:auto;">Sign Up</button>
				</a>
			</div>
			<a href="#">
				<button id="my-polls_top" class="btn my-polls">My Polls</button>
			</a>
		</div>
	</div>
</div>

	<div class="main">
		<div class="home-container">
			<div class="next mobile">Next</div>
			<div class="prev mobile">Prev</div>
		<div class="carousel">
			<div class="item a">
				<h5 class="poll-category">
					<a href="/api/poll-cat/popular">Popular/Trending</a>
				</h5>
				<div class="poll">
					<div class="poll-question">What is Harambe's favorite food?</div>
					<div class="poll-answer">
						<form>
							<input type="radio" name="option" value="">
							<span>Bananas</span>
							<input type="radio" name="option" value="">
							<span>Fresh meat</span>
							<br>
							<input type="radio" name="option" value="">
							<span>Small children</span>
							<input type="radio" name="option" value="">
							<span>Slightly larger children</span>
						</form>
					</div>
					<button type="submit" class="btn vote-button">Vote</button>
					<div class="total-votes">
						<i class="small material-icons">insert_chart</i>
						<div class="vote-counter"></div>
					</div>
				</div>
			</div>
			<div class="item b">
				<h5 class="poll-category">
					<a href="/api/poll-cat/entertainment">Entertainment</a>
				</h5>
				<div class="poll">
					<div class="poll-question entertainment-question"></div>
					<div class="poll-answer">
						<form id="entertainment">
						</form>
					</div>
					<button type="submit" class="btn vote-button">Vote</button>
					<div class="total-votes">
						<i class="small material-icons">insert_chart</i>
						<div class="vote-counter"></div>
					</div>
				</div>
			</div>
			<div class="item c">
				<h5 class="poll-category">
					<a href="/api/poll-cat/personal">Personal</a>
				</h5>
				<div class="poll">
					<div class="poll-question personal-question"></div>
					<div class="poll-answer">
						<form id="personal">
						</form>
					</div>
					<button type="submit" class="btn vote-button">Vote</button>
					<div class="total-votes">
						<i class="small material-icons">insert_chart</i>
						<div class="vote-counter"></div>
					</div>
				</div>
			</div>
			<div class="item d">
				<h5 class="poll-category">
					<a href="/api/poll-cat/science">Science</a>
				</h5>
				<div class="poll">
					<div class="poll-question science-question"></div>
					<div class="poll-answer">
						<form id="science">
						</form>
					</div>
					<button type="submit" class="btn vote-button">Vote</button>
					<div class="total-votes">
						<i class="small material-icons">insert_chart</i>
						<div class="vote-counter"></div>
					</div>
				</div>
			</div>
			<div class="item e">
				<h5 class="poll-category">
					<a href="/api/poll-cat/philosophy">Philosophy</a>
				</h5>
				<div class="poll">
					<div class="poll-question philosophy-question"></div>
					<div class="poll-answer">
						<form id="philosophy">
						</form>
					</div>
					<button type="submit" class="btn vote-button">Vote</button>
					<div class="total-votes">
						<i class="small material-icons">insert_chart</i>
						<div class="vote-counter"></div>
					</div>
				</div>
			</div>
			<div class="item f">
				<h5 class="poll-category">
					<a href="/api/poll-cat/world">World</a>
				</h5>
				<div class="poll">
					<div class="poll-question world-question"></div>
					<div class="poll-answer">
						<form id="world">
						</form>
					</div>
					<button type="submit" class="btn vote-button">Vote</button>
					<div class="total-votes">
						<i class="small material-icons">insert_chart</i>
						<div class="vote-counter"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
<div class="next desktop">Next</div>
<div class="prev desktop">Prev</div>

{{!-- <a href="#">
	<button class="btn my-polls mobile">My Polls</button>
</a> --}}





<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
