<div class="container">
	  <div class="carousel">
	    <div class="item a">Popular/Trending</div>
	    <div class="item b">Entertainment</div>
	    <div class="item c">
	    	<p>Personal Questions</p>
	    </div>
	    <div class="item d">Preferences</div>
	    <div class="item e">Politics</div>
	    <div class="item f">World</div>
	  </div>
	</div>
<div class="next">Next</div>
<div class="prev">Prev</div>
</div>
<div class="next">Next</div>
<div class="prev">Prev</div>
<div class="g-signin2" data-onsuccess="onSignIn"></div>
