<!-- particles.js container --> 
	<div id="particles-js"></div> 
	<!-- stats - count particles --> 
	<div class="count-particles"> 
		<span class="js-count-particles">--</span> particles 
	</div> 
	<!-- particles.js lib - https://github.com/VincentGarreau/particles.js --> 
	<script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
	<!-- stats.js lib --> 
	<script src="http://threejs.org/examples/js/libs/stats.min.js"></script>

	<div class="header">
		<div class="block-alpha">
			<a href="/">
				<div class="logo">PollIt</div>
			</a>
		</div>
		<div class="block-beta">

		</div>
		<div class="block-omega">
			<div class="log-form">
				<form >
				{{!-- action="/api/auth/login" method="post" --}}
					<input type="text" id="username" name="userName" title="username" placeholder="username" />
					<input type="password" id="password" name="password" title="username" placeholder="password" />
					<button type="button" id="loginBtn" class="btn login">Login</button>
					<a class="forgot" href="#">Forgot Username?</a>
				</form>
				<button id="signup-button" class="signup" onclick="document.getElementById('signup').style.display='block'" style="width:auto;">Sign Up</button>
			</div>
			<a href="#">
				<button id="my-polls_top" class="btn my-polls">My Polls</button>
			</a>
		</div>
	</div>

	<div class="container">
        <h3>Create Poll</h3>
        <form>
			<input type="radio" name="option" value="Entertainment">
				<span>Entertainment</span>
			<input type="radio" name="option" value="Personal">
				<span>Personal</span>
			<input type="radio" name="option" value="Philosophy">
				<span>Philosophy</span>
			<input type="radio" name="option" value="Science">
				<span>Science</span>
			<input type="radio" name="option" value="World">
				<span>World</span>
            <h6>Poll Question:</h6><br>
            <input type="text" name="new_poll-question"><br>
            <h6>Poll Answers:</h6><br>
            <input type="text" name="create_poll-answer-1"><br>
            <input type="text" name="create_poll-answer-2"><br>
            <input type="text" name="create_poll-answer-3"><br>
            <input type="text" name="create_poll-answer-4">
        </form>
        <button type="submit" class="btn create-newpoll">Post Poll</button>
    </div>



