/* ---- reset ---- */ 
body{ margin:0; font:normal 75% Arial, Helvetica, sans-serif; } 
canvas{ display: block; vertical-align: bottom;  
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e4cfe7+0,6c5a72+100 */
    background: rgb(228,207,231); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(228,207,231,1) 0%, rgba(108,90,114,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(228,207,231,1) 0%,rgba(108,90,114,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(228,207,231,1) 0%,rgba(108,90,114,1) 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4cfe7', endColorstr='#6c5a72',GradientType=0 ); /* IE6-9 */ }  

/* ---- particles.js container ---- */ 
#particles-js{position:absolute; top: 0; width: 100%; height: 120%; background-color: #ffffff; background-image: url(""); background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; } 
/* ---- stats.js ---- */ 
.count-particles{ background: #000022; position: absolute; top: 48px; left: 0; width: 80px; color: #13E8E9; font-size: .8em; text-align: left; text-indent: 4px; line-height: 14px; padding-bottom: 2px; font-family: Helvetica, Arial, sans-serif; font-weight: bold; } 
.js-count-particles{ font-size: 1.1em; } 
#stats, .count-particles{ -webkit-user-select: none; margin-top: 5px; margin-left: 5px; } #stats{ border-radius: 3px 3px 0 0; overflow: hidden; } 
.count-particles{ border-radius: 0 0 3px 3px; display: none;}

canvas {display: none !important;}
canvas.particles-js-canvas-el {display: initial !important; background-image: url('https://orig00.deviantart.net/046a/f/2012/364/4/2/space_and_particles_2_by_janrobbe-d5pqhmv.png');
background-size: cover; background-attachment: fixed !important;
display: block !important; vertical-align: bottom; position: absolute;}
