

body {/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#98bede+0,deefff+100 */
  background: #98bede; /* Old browsers */
  background: -moz-linear-gradient(top, #98bede 0%, #deefff 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #98bede 0%,#deefff 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #98bede 0%,#deefff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#98bede', endColorstr='#deefff',GradientType=0 ); /* IE6-9 */
  background-repeat: no-repeat;
  font: 15px/20px Arial, sans-serif;
  height: 100%;
  position: relative;
}

h3 {border-bottom: 2px solid #98859d;}
h6 {color: #854e94;
  border-bottom: 1px solid #000;
  width: 50%;
  font-size: 1.5rem;
  text-shadow: 1px 1px 1px #d8d8d8;}

a {color: #74338a;}

.header {position: relative; text-align: center; overflow: auto;
background: rgba(255,255,255,0.5);}
.header .block-alpha {width: 30%; float: left; padding: 1%;}
.header .block-beta {width: 40%; float: left; padding: 1%;}
.header .block-omega {width: 30%; float: left;}
.log-form {position: relative; overflow: auto; padding: 1%;}
.log-form input {width: 25% !important;}
#my-polls_top {height: 25px; font-size: 1.2em; line-height: 1em; margin: 2% auto;}


@import "compass/css3";

.logo {font-size: 3.5em; color: #854e94;}
.main {padding: 15% 0;}

.home-container {
  margin: 0 auto;
  width: 250px;
  height: 200px;
  position: relative;
  perspective: 600px;
}

.container {
  background: #fff;
  position: relative;
  width: 80%;
  height: auto;
  padding: 1% 10%;
  margin-top: 10%;
}

.carousel {
  height: 100%;
  width: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s;
}

.item {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,e5e5e5+100;White+3D */
background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
  display: block;
  position: absolute;
  background: #000;
  width: 250px;
  height: 300px;
  line-height: 200px;
  font-size: 2em;
  text-align: center;
  color: #FFF;
  opacity: 0.95;
  border-radius: 10px;
  text-shadow: 1px 1px 2px #333;
}

.item p {
    line-height: 1em;
    position: relative;
    top: 20%;
}

.a {
  transform: rotateY(0deg) translateZ(250px);
  /* background: #ed1c24; */
}
.b {
  transform: rotateY(60deg) translateZ(250px);
  /* background: #0072bc; */
}
.c {
  transform: rotateY(120deg) translateZ(250px);
  /* background: #39b54a; */
}
.d {
  transform: rotateY(180deg) translateZ(250px);
  /* background: #f26522; */
}
.e {
  transform: rotateY(240deg) translateZ(250px);
  /* background: #630460; */
} 
.f {
  transform: rotateY(300deg) translateZ(250px);
  /* background: #8c6239; */
}

.next, .prev {
  color: #444;
  position: absolute;
  top: 100px;
  padding: 1em 2em;
  cursor: pointer;
  background: #CCC;
  border-radius: 5px;
  border-top: 1px solid #FFF;
  box-shadow: 0 5px 0 #999;
  transition: box-shadow 0.1s, top 0.1s;
}
.next:hover, .prev:hover { color: #000; }
.next:active, .prev:active {
  top: 104px;
  box-shadow: 0 1px 0 #999;
}
.next { right: 5em; }
.prev { left: 5em; }

/* -Polls- */

.home-container .poll-category {color: #333; text-shadow: none; border-bottom: 1px solid #98859d;}
.home-container .poll-question {line-height: 1em; color: #000; text-shadow: none; font-size: .7em;
 padding: 3%;}
.home-container .poll-answer form {line-height: 1em; font-size: .5em; color: #000; text-shadow: none;}

.poll {background: #fff; line-height: 3em; border-bottom: 2px solid #98859d;}
.poll-question {font-size: 1.5em;}
.poll-answer form {line-height: 1em; font-size: 1.2em; color: #000;}

[type="radio"]:not(:checked), [type="radio"]:checked {position: relative;
opacity: 1; pointer-events: auto; vertical-align: middle;}

.vote-button {margin: 2%;}
.total-votes {float: right;}
i.small, .vote-counter {color: rgba(0,0,0,0.87); text-shadow: none;}
i.small {float: left;}
.vote-counter {float: left; font-size: 1.8em;}

.my-polls {position: relative;}
#my-polls_top {display: none;}




/* Forms */

@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|Open+Sans:400,300,600);

*{box-sizing:border-box;}

body {
  font-family: 'open sans', helvetica, arial, sans;
background:url() no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

a.forgot {float: left;}

button.btn.login {height: 18px !important; font-size: 1em; line-height: 1.5em;}

.js-plotly-plot .plotly .modebar {display: none;}


@media (min-width: 767px) {

  .desktop {display: block;}
  .mobile {display: none;}

}

@media (max-width: 767px) {

  .desktop {display: none;}
  .mobile {display: block;}

  .main {padding: 0;}

  .next.mobile, .prev.mobile {position: relative; width: 25%; display: inline;}
  .next.mobile {right: 0 !important;}
  .prev.mobile {left: 10em !important;}
  .carousel {margin: 50% 0;}

  .header .block-alpha, .header .block-beta, .header .block-omega {width: 100%; margin: 5% 0;}
  .log-form {margin: 0 auto;}

  /* .next, .prev {position: relative; width: 25%; margin: 5%; text-align: center; top: 0px;} */

}


.log-form {
  min-width: 320px;
  max-width: 475px;
 /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#6393c1+0,cfe7fa+100 */
background: rgb(99,147,193); /* Old browsers */
background: -moz-linear-gradient(top, rgba(99,147,193,1) 0%, rgba(207,231,250,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(99,147,193,1) 0%,rgba(207,231,250,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(99,147,193,1) 0%,rgba(207,231,250,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6393c1', endColorstr='#cfe7fa',GradientType=0 ); /* IE6-9 */
  top: 0;
  right: 0;
  
  box-shadow: 0px 2px 5px rgba(0,0,0,.25);
  
  
  @media(max-width: 40em){
    width: 95%;
    position: relative;
    margin: 2.5% auto 0 auto;
    left: 0%;
  -webkit-transform: translate(0%,0%);
-moz-transform: translate(0%,0%);
-o-transform: translate(0%,0%);
-ms-transform: translate(0%,0%);
transform: translate(0%,0%);
  }
  
  form {
    display: block;
    width: 100%;
    padding: 2em;
  }
  
  .log-form h4 {
    width: 100%;
    color: lighten(@grey, 20%);
    font-family: 'open sans condensed';
    font-size: 1.35em;
    display: block;
    background:@grey;
    width: 100%;
    text-transform: uppercase;
    padding: .75em 1em .75em 1.5em;
    box-shadow:inset 0px 1px 1px fadeout(white, 95%);
    border: 1px solid darken(@grey, 5%);
    //text-shadow: 0px 1px 1px darken(@grey, 5%);
    margin: 2%;
    font-weight: 200;
  }
  
  input {
    display: block;
    margin: auto auto;
    width: 25% !important;
    margin-bottom: 2em;
    padding: .5em 0;
    border: none;
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 1.25em;
    color: #757575;
    &:focus {
      outline: none;
    }
  }
  
  .btn {
    display: inline-block;
    background: @blue;
    border: 1px solid darken(@blue, 5%);
    padding: .5em 2em;
    color: white;
    height: 18px !important;
    margin-right: .5em;
    box-shadow: inset 0px 1px 0px fadeout(white, 80%); 
    &:hover {
      background: lighten(@blue, 5%);
    }
    &:active {
      background: @blue; 
      box-shadow: inset 0px 1px 1px fadeout(black, 90%); 
    }
    &:focus {
      outline: none;
    }
  }

  
  .forgot {
    color: lighten(@blue, 10%);
    line-height: .5em;
    position: relative;
    top: 2.5em;
    text-decoration: none;
    font-size: .75em;
    margin:0;
    padding: 0;
    float: right;
    
    &:hover {
      color:darken(@blue, 5%);
    }
    &:active{ 
    }
  }
  
}

.container input[type="text"] {margin: 1%; width: 70%;}
